# Databases
*.sql

# Sensitive files
.env

# WordPress Core (Ignore everything except wp-content and config)
wp-admin/
wp-includes/
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php

# We WANT to track these
!wp-config.php
!wp-content/
!docker-compose.yml
!.gitignore
!.env.example

# Uploads & Backups
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
